@import '@fontsource/fira-mono';


//*	RUBIK
@font-face {
	font-family: 'rubik';
	font-weight: 100 900;
	font-style: normal;
	src: url('/fonts/rubik/rubik.ttf') format('truetype');
}
@font-face {
	font-family: 'rubik-italic';
	font-weight: 100 900;
	font-style: italic;
	src: url('/fonts/rubik/rubik-italic.ttf') format('truetype');
}


//*	DOSIS
@font-face {
	font-family: 'dosis';
	font-weight: 100 900;
	font-style: normal;
	src: url('/fonts/dosis/dosis.ttf') format('truetype');
}


a,
p,
li,
h1,
h2,
h3,
h4,
h5,
section {
	font-family: var(--font);
}
